@{ ViewData["Title"] = "Your Tutors";
    Layout = "_MasterPage"; }

@model Tutors.Forms.GoalTeachersForm

<main class="container mt-3">
    <h1 class="h1 text-center w-50 mx-auto mt-1 py-5 mb-4">
        <strong>
            <br />Преподаватели <br>
            @Model.Goal
        </strong>
    </h1>
    <div class="row">
        <div class="col-12 col-lg-10 offset-lg-1 m-auto">
            @foreach (var teacher in Model.Teachers)
            {
                @Html.Partial("TeacherSection", teacher)
            }
        </div>
    </div>

    @Html.Partial("RequestSection")

</main>
